<div class="card">
  <div class="card-body">
    <h5 class="card-title">Nombre del jugador</h5>
    <p class="card-text"><span class="bullet-title">Is active: </span>true</p>
    <p class="card-text"><span class="bullet-title">team_id: </span> Id</p>
    <p class="card-text"><span class="bullet-title">photo_id: </span> Id</p>
    <p class="card-text"><span class="bullet-title">position_id: </span> Id</p>
    <hr />
    <p>
      <a href="#" class="btn btn-outline-secondary">Edit</a>
      &nbsp;
      <a href="#" class="btn btn-outline-danger">Delete</a>
    </p>
  </div>
</div>
